body {

background:
    linear-gradient(
        rgba(0,0,40,0.7),
        rgba(10,0,10,0.7)
    ),
    url("imgs/chair.png");

}

h1 {
    font-family: Impact;
    font-size: 200%;
    background: -webkit-linear-gradient(rgb(222, 209, 255), #ff0000);
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: rgb(171, 200, 255);
}

p {
    color: rgb(174, 204, 204);
    font-family:'Courier New', Courier, monospace;
}

span.highlight {
    color: greenyellow;
    font-weight: bold;
}

span.fancy {
    font-family: Cambria;
    font-size: 350%;
    background: -webkit-radial-gradient(#4190A5, #FF00DD);
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent;
}